In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df=pd.read_csv("ready_df.csv")
df.head()

,day,month,year,country_encoded,store_encoded,product_encoded,num_sold,lag_1,lag_2,lag_3,lag_4,lag_5,lag_6,lag_7,rolling_mean_7,rolling_std_7
0,1,1,2015,1,0,0,906,526.0,283.0,911.0,572.0,146.0,520.0,329.0,469.571429,248.443727
1,1,1,2015,1,0,2,250,906.0,526.0,283.0,911.0,572.0,146.0,520.0,552.000000,286.790865
2,1,1,2015,1,1,2,395,250.0,906.0,526.0,283.0,911.0,572.0,146.0,513.428571,309.100770
3,1,1,2015,2,0,1,440,395.0,250.0,906.0,526.0,283.0,911.0,572.0,549.000000,271.852901
4,1,1,2015,2,0,0,624,440.0,395.0,250.0,906.0,526.0,283.0,911.0,530.142857,274.556265

In [5]:
X=df.drop(columns='num_sold').copy()
y=df['num_sold']

In [6]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [8]:
from xgboost import XGBRegressor
from sklearn.model_selection import GridSearchCV
model=XGBRegressor()
param_grid = {
    'n_estimators': [50, 100, 200],
    'max_depth': [3, 5, 10],
    'learning_rate': [0.01, 0.1, 0.2]
}
grid_search = GridSearchCV(estimator=model, param_grid=param_grid, cv=5)
grid_search.fit(X_train, y_train)
best_model = grid_search.best_estimator_

In [9]:
preds=best_model.predict(X_test)

In [11]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import numpy as np
mae = mean_absolute_error(y_test, preds)
mse = mean_squared_error(y_test, preds)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, preds)

# Print results
print(f"MAE: {mae:.4f}")
print(f"MSE: {mse:.4f}")
print(f"RMSE: {rmse:.4f}")
print(f"R² Score: {r2:.4f}")

MAE: 19.7308
MSE: 811.7796
RMSE: 28.4917
R² Score: 0.9807

In [13]:
import pickle as pkl
with open('XGBRegressor','wb') as file:
    pkl.dump(model, file)